favicon/mountain.png filter=lfs diff=lfs merge=lfs -text
nature/yellow.png filter=lfs diff=lfs merge=lfs -text
weeb/gojo.png filter=lfs diff=lfs merge=lfs -text
weeb/jacket_girl.png filter=lfs diff=lfs merge=lfs -text
weeb/megumi_bike.png filter=lfs diff=lfs merge=lfs -text
weeb/modern_girl.png filter=lfs diff=lfs merge=lfs -text
anime/chisato.png filter=lfs diff=lfs merge=lfs -text
favicon/bitcoin.png filter=lfs diff=lfs merge=lfs -text
minimal/spacecat.png filter=lfs diff=lfs merge=lfs -text
nature/coast.png filter=lfs diff=lfs merge=lfs -text
anime/tmeqlaby.jpg filter=lfs diff=lfs merge=lfs -text
minimal/red_flower.jpg filter=lfs diff=lfs merge=lfs -text
nature/branches.jpg filter=lfs diff=lfs merge=lfs -text
nature/peony.jpg filter=lfs diff=lfs merge=lfs -text
nature/pointy_rock.jpg filter=lfs diff=lfs merge=lfs -text
weeb/mob_psycho_100.jpg filter=lfs diff=lfs merge=lfs -text
anime/girl_and_dog.jpg filter=lfs diff=lfs merge=lfs -text
anime/sunset.jpg filter=lfs diff=lfs merge=lfs -text
nature/creepyhouse.jpg filter=lfs diff=lfs merge=lfs -text
nature/wither.jpg filter=lfs diff=lfs merge=lfs -text
anime/bukcxery.jpg filter=lfs diff=lfs merge=lfs -text
weeb/snow_girl.jpg filter=lfs diff=lfs merge=lfs -text
nature/rocks.jpg filter=lfs diff=lfs merge=lfs -text
minimal/mask_skull.jpg filter=lfs diff=lfs merge=lfs -text
nature/mache.jpg filter=lfs diff=lfs merge=lfs -text
weeb/computers.jpg filter=lfs diff=lfs merge=lfs -text
anime/pond.jpg filter=lfs diff=lfs merge=lfs -text
